<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Add your Todo</h1>
            <form action="#" th:action="@{/todo}" th:object="${todo}" method="post">
                <label>Title:</label>
                <input type="text" th:field="*{title}" />
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
                <br/>
                <br/>
                <label>Description: </label>
                <input type="text" th:field="*{description}" />
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
                <br/>
                <br/>
                <input type="submit" value="Submit" />
            </form>
            <div>
                <div th:if="${#lists.isEmpty(todos)}">
                    <p> No Todos Available </p>
                </div>
                <strong th:text="${successMessage}"></strong>
                <div th:each="todo : ${todos}">
<!--                    <p th:text="${todo.id}"></p>-->
                    <h4 th:text="${todo.title}"></h4>
                    <p th:text="${todo.description}"></p>
                    <p>Created At: <p th:text="${todo.createdAt}"></p></p>
                    <a th:href="@{/todo/edit/{id}(id=${todo.id})}"
                       class="btn btn-primary">Update</a>
                    <a th:href="@{/todo/delete/{id}(id=${todo.id})}"
                       class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>